<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EngList | Diário de Obras</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>Listagem de obras</h1>
    
    {% for obras in todas_obras %}
    <p>Título: {{obras.titulo}}</p>
    {% empty %}
    <p>Não existem obras cadastradas</p> 
        {% endfor %}
    <a href="{% url 'login' %}">Sair</a>
</body>

</html>