<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/muro_azul.png' %}" type="image/png" />
    <title>EngList | Excluir Obra</title>
  </head>
  <body>
    <h1>Excluir Obra</h1>
    <p>Você tem certeza que deseja excluir a obra "{{ obra.titulo }}"?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Sim, excluir</button>
    </form>
    <a href="{% url 'listar_obras' %}">Cancelar</a>
  </body>
</html>
